:global(#root) {
  .lock_container {
    width: 30px;
    height: 30px;
    position: absolute;
    border-radius: 15px;
  }

  .lock_icon {
    position: absolute;
    left: 6.5px;
    margin-top: 4.5px;
  }

  .bar {
    width: 12px;
    height: 80px;
    margin-top: 25px;
    position: absolute;
    margin-left: 9px;
  }

  .progress_bar {
    width: 12px;
    position: absolute;
    margin-left: 9px;
  }

  .percentage_banner {
    position: absolute;
    width: 50px;
    height: 2px;
    margin-left: 9px;
  }

  .current_percentage {
    float: right;
  }

  .goal_amount {
    margin-bottom: 2px;
    margin-top: 0;
  }

  .goal_name {
    margin-bottom: 4px;
  }

  .goal_needed {
    margin-top: 16px;
    margin-bottom: 0;
  }

  .bottom_dot {
    width: 30px;
    height: 30px;
    margin-top: 33px;
    position: absolute;
    border-radius: 15px;
  }
}

