.root {
    padding: 2em;
    text-align: center;
    width: 100%;
    height: calc(100vh - 57px);
    overflow: auto;
}

.goals {
    padding: 0 2em;
    text-align: center;
    width: 100%;
    max-width: 50em;
    margin: auto;
}
