.add-button {
  -webkit-box-shadow: 10px 10px 50px -5px rgba(0, 0, 0, 0.75) !important;
  -moz-box-shadow: 10px 10px 50px -5px rgba(0, 0, 0, 0.75) !important;
  box-shadow: 10px 10px 50px -5px rgba(0, 0, 0, 0.75) !important;
  position: absolute;
  width: 51.41px;
  z-index: 20;
  right: 1em;
  bottom: 4em;
}

.kudo-progress {
  height: 50px;
  /* background-color: lightgray; */
  align-items: center;
  display: flex;
  width: 90%;
  margin: auto;
}

.kudo-progress-bar {
  width: 50%;
  margin-top: 22px;
  height: 15px;
  border-radius: 100px 0 0 100px;
  background-color: #2185d0;
  margin: 0 auto;
}

.kudo-progress-bar-negative {
  width: 50%;
  margin-top: 22px;
  height: 15px;
  border-radius: 0 100px 100px 0;
  background-color: rgb(194, 229, 247);
  margin: 0 auto;
}
