.grid {
    height: 100%;
    width: 100%;
    margin: auto !important;
}

.column {
    max-width: 450px;
}

.message {
    height: 20px;
}

.text_left {
    text-align: left;
}

.left {
    float: left;
}

.right {
    float: right;
}

.back {
    margin-top: 2em !important;
}
