{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:storybook/recommended",
    "prettier"
  ],
  "rules": {
    "react/jsx-props-no-spreading": "off",
    "import/no-cycle": "off",
    "require-await": "error",
    "react/destructuring-assignment": "off",
    "import/prefer-default-export": "off",
    "max-len": ["error", { "code": 120 }],
    "react/button-has-type": "off",
    "react/react-in-jsx-scope": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/ban-ts-comment": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/no-unused-vars": "warn"
  },
  "ignorePatterns": ["jest.config.js", ".storybook/*", "src/**/*.stories.tsx"],
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
