.vscode
.idea
*.iml
node_modules
.DS_Store
*.log
dist/*
!dist/.keep
.env
reports/

# cordova stuff
cordova/platforms/*
cordova/plugins/*
!cordova/platforms/.keep
!cordova/plugins/.keep

# Fastlane stuff
/fastlane/README.md
/fastlane/screenshots/
/fastlane/report.xml
/fastlane/ionic
/fastlane/test_servers/
/fastlane/vault/
/fastlane/android/
/fastlane/metadata/
/Preview.html
/tmp
/test_servers
/.gradle
/profiles/
*.swp
