:global(#root) {
  .root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .page {
    padding: 2em;
    display: flex;
    height: 100vh;
  }

  .container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    //background: #ECE7DA;
  }

  .create_post_container_mobile {
    padding: 1em;
  }

  .create_post_segment {
    width: 480px;
    margin: auto;
    padding-left: 30px;
    padding-right: 30px;
    background: rgba(178,203,193, 0.3);
    border-radius: 18px;
    border: none;
  }

  .divider {
    margin-bottom: 2px;
    margin-top: 0;
  }

  .form {
    margin: auto;
    width: 100%;
    max-width: 32em;
  }

  .board_container {
    max-width: 480px;
    -webkit-overflow-scrolling: touch;
    margin-top: 30px;
    padding: 30px 40px;
    border-radius: 18px;
    background: #00749A;
    text-align: center;
  }

  @media (max-width: 990px) {
    .board_container {
      margin: auto;
    }
  }

  .board_header {
    color: #FFFFFF;
    font-family: Rajdhani, sans-serif;
    font-size: 34px;
    letter-spacing: 0;
    line-height: 44px;
  }

  .submit_button {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    background: linear-gradient(0deg, #D46355 0%, #DF867D 100%);
    box-shadow: 0 2px 3px 0 #77271D;
    color: white;
  }
}