:global(#root) {
  .arrow_container {
    height: 120px;
    display: flex;
  }

  .arrow {
    margin: auto;
    color: #ffffff;
  }

  .end_message {
    line-height: 60px;
    text-align: center;
    color: #ffffff;
  }
}