.card {
  color: var(--font-color-1);
  border-radius: var(--radii-level-2);
  background-color: var(--bg-color-1);
  padding: 0;
  word-break: break-word;
}

.cardHeader {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border-radius: var(--radii-level-2) var(--radii-level-2) 0 0;
}

.cardDescription {
  font-size: var(--font-size-l);
}

.cardContent {
  padding: 2rem;
}

.cardFooter {
  display: flex;
  padding: 2rem;
  border-radius: 0 0 var(--radii-level-2) var(--radii-level-2);
}

.dark {
  background-color: var(--brand-color-1);
  color: var(--font-color-2);
}

.center {
  align-items: center;
  justify-content: center;
}

.icon {
  padding-right: 0.5rem;
}
