:global(#kudos-input-container) {
  .guideline_input_active {
    input {
      border-color: #85b7d9 ;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border-bottom: none;
    }

    button {
      border-bottom-right-radius: 0;
    }
  }

  .field {
    margin-bottom: 1em;
  }

  .guidelines {
    border-color: #85b7d9;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: none;
    position: absolute;
    z-index: 10;
    width: 100%;
    margin-top: -14px;
    max-height: 300px;
    overflow: auto;
  }

  .info_button {
    background: linear-gradient(0deg, #D46355 0%, #DF867D 100%);
    color: white;
  }
}
