.container {
    display: flex;
    flex-direction: column;
    align-items: center;

    /* Allow smooth scrolling on Safari < 13 */
    -webkit-overflow-scrolling: touch;

    background: var(--brand-color-1);
}

.header {
    color: var(--font-color-2);
}

@media (max-width: 990px) {
    .board_container {
        margin: auto;
    }
}

