#components-form-demo-normal-login .login-form {
  max-width: 300px;
}
#components-form-demo-normal-login .login-form-forgot {
  float: right;
}
#components-form-demo-normal-login .login-form-button {
  width: 100%;
}

.page {
  overflow-y: scroll;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .page {
    height: calc(100vh - 55px);
  }
}
@media only screen and (min-width: 768px) {
  .page {
    margin-top: 84px;
  }
}

.flex {
  display: flex;
  flex-direction: column;
}