#components-form-demo-normal-login .login-form {
  max-width: 300px;
}
#components-form-demo-normal-login .login-form-forgot {
  float: right;
}
#components-form-demo-normal-login .login-form-button {
  width: 100%;
}

.page {
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .page {
    height: calc(100vh - 55px);
    overflow-y: auto;
  }
  .page::-webkit-scrollbar {
    width: 0px;
  }
}
@media only screen and (min-width: 768px) {
  .page {
    margin-top: 63px;
  }
}

.flex {
  display: flex;
  flex-direction: column;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2185d0;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2185d0;
}
