.page {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "navigation"
    "main";

  height: 100vh;
}

.navigation {
  grid-area: navigation;
}

.main {
  grid-area: main;
  overflow: auto;

  /* Navigation bar height is 46px + 16px padding */
  margin-top: 62px;
  padding: 2rem;
}

@media only screen and (max-width: 991px) {
  .main {
    margin-top: 0px;

    padding: 0;
  }
}
