.page {
    overflow: hidden;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "navigation"
        "main"
    ;

    height: 100vh;
}

.navigation {
    grid-area: navigation;
}

.main {
    grid-area: main;
    overflow: auto;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 1rem;
}
