.page {
  display: flex;
  flex-direction: column;
  padding: 75px 2em 0;
}

.container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.header {
  text-align: center;
}

:global(#root) {
  .create_button {
    margin: auto;
  }
}