.form {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-level-3);
}

.form label {
  font-weight: var(--font-weight-bold);
}

.form textarea {
  resize: vertical;
}

.button {
  align-self: center;
}

.note {
  color: grey;
  font-size: 0.575rem;
}
