.add-button {
    -webkit-box-shadow: 10px 10px 50px -5px rgba(0, 0, 0, 0.75) !important;
    -moz-box-shadow: 10px 10px 50px -5px rgba(0, 0, 0, 0.75) !important;
    box-shadow: 10px 10px 50px -5px rgba(0, 0, 0, 0.75) !important;
    position: fixed;
    z-index: 20;
    right: 1em;
    bottom: 4em;
}
