button.ui.button.blue {
  background: var(--kudo-color-button);

  &:hover, &:focus {
    background: var(--kudo-color-button-shade);
  }

  &:active {
    background: var(--kudo-color-button-tint);
  }
}

button.ui.button.red {
  background: var(--kudo-color-error);

  &:hover, &:focus {
    background: var(--kudo-color-error-shade);
  }

  &:active {
    background: var(--kudo-color-error-tint);
  }

}

button.ui.button.teal {
  background: var(--kudo-color-success);

  &:hover, &:focus {
    background: var(--kudo-color-success-shade);
  }

  &:active {
    background: var(--kudo-color-success-tint);
  }
}

button.ui.button.yellow {
  background: var(--kudo-color-warning);

  &:hover, &:focus {
    background: var(--kudo-color-warning-shade);
  }

  &:active {
    background: var(--kudo-color-warning-tint);
  }
}