button.ui.button.blue {
  background: #5E877D;
}

button.ui.button.red {
  background: #A33529;
}

button.ui.button.green {
  background: #2C7990;
}

button.ui.button.yellow {
  background: #D28D48;
}