div.ui.segment {
  border-radius: 18px;
  background: rgba(178,203,193, 0.3);
  border: none;
}

@media only screen and (max-width: 768px) {
  div.ui.segment {
    background: transparent;
    border: none;
    box-shadow: none;
  }
}
