div.ui.segment {
  border: none;
  border-radius: var(--radii-level-4);

  background: var(--kudo-color-secondary);
}

@media only screen and (max-width: 768px) {
  div.ui.segment {
    background: transparent;

    box-shadow: none;
  }
}
