table.ui.table {
  thead {
    tr {
      th {
        background: #daded2;
      }
    }
  }

  tbody {
    tr {
      background: #daded2;
    }

    tr.positive {
      background: #daded2 !important;
      color: black !important;
    }

    tr.negative {
      background: #daded2 !important;
      color: black !important;
    }
  }
}
