table.ui.table {
  border: none;

  thead {
    tr {
      th {
        background: var(--kudo-color-secondary);
      }
    }
  }

  tbody {
    tr {
      background: var(--kudo-color-secondary);
    }

    tr.positive {
      background: var(--kudo-color-secondary) !important;
      color: black !important;
    }

    tr.negative {
      background: var(--kudo-color-secondary) !important;
      color: black !important;
    }
  }
}
