$shade-tint-factor: 10%;

:root {
  /* Primary color */
  $kudo-color-primary: #00749a;
  --kudo-color-primary: #{$kudo-color-primary};
  --kudo-color-primary-shade: #{darken($kudo-color-primary, $shade-tint-factor)};
  --kudo-color-primary-tint: #{lighten($kudo-color-primary, $shade-tint-factor)};

  /* Secondary color */
  $kudo-color-secondary: #d6d9ca;
  --kudo-color-secondary: #{$kudo-color-secondary};
  --kudo-color-secondary-shade: #{darken($kudo-color-secondary, $shade-tint-factor)};
  --kudo-color-secondary-tint: #{lighten($kudo-color-secondary, $shade-tint-factor)};

  /* Accent color */
  $kudo-color-accent: #d46355;
  --kudo-color-accent: #{$kudo-color-accent};
  --kudo-color-accent-shade: #{darken($kudo-color-accent, 20%)};
  --kudo-color-accent-tint: #{lighten($kudo-color-accent, 20%)};

  /* Light color */
  $kudo-color-light: #ece7da;
  --kudo-color-light: #{$kudo-color-light};
  --kudo-color-light-shade: #{darken($kudo-color-light, $shade-tint-factor)};
  --kudo-color-light-tint: #{lighten($kudo-color-light, $shade-tint-factor)};

  /* Dark color */
  $kudo-color-dark: #00284a;
  --kudo-color-dark: #{$kudo-color-dark};
  --kudo-color-dark-shade: #{darken($kudo-color-dark, $shade-tint-factor)};
  --kudo-color-dark-tint: #{lighten($kudo-color-dark, $shade-tint-factor)};


  /* Success color */
  $kudo-color-success: #2C7990;
  --kudo-color-success: #{$kudo-color-success};
  --kudo-color-success-shade: #{darken($kudo-color-success, $shade-tint-factor)};
  --kudo-color-success-tint: #{lighten($kudo-color-success, $shade-tint-factor)};

  /* Error color */
  $kudo-color-error: #A33529;
  --kudo-color-error: #{$kudo-color-error};
  --kudo-color-error-shade: #{darken($kudo-color-error, $shade-tint-factor)};
  --kudo-color-error-tint: #{lighten($kudo-color-error, $shade-tint-factor)};

  /* Warning color */
  $kudo-color-warning: #D28D48;
  --kudo-color-warning: #{$kudo-color-warning};
  --kudo-color-warning-shade: #{darken($kudo-color-warning, $shade-tint-factor)};
  --kudo-color-warning-tint: #{lighten($kudo-color-warning, $shade-tint-factor)};

  /* Main button color */
  $kudo-color-button: #5E877D;
  --kudo-color-button: #{$kudo-color-button};
  --kudo-color-button-shade: #{darken($kudo-color-button, $shade-tint-factor)};
  --kudo-color-button-tint: #{lighten($kudo-color-button, $shade-tint-factor)};
}
