:global(#root) {
  .grid {
    height: 100%;
    width: 100%;
    margin: auto;
  }

  .column {
    max-width: 450px;
    align-self: center;
  }

  .header {
    color: var(--kudo-color-primary);
  }

  .form {
    max-width: 512px;
  }

  @media only screen and (max-width: 768px) {
    .column {
      align-self: flex-start;
    }
  }
}

