.form {
  max-width: 420px;
  margin: auto;
}

.errorMessage {
  border-radius: var(--radii-level-1);
  padding: var(--padding-level-5) 0;
  margin-top: var(--spacing-level-5);

  box-shadow: 0 0 0 1px #e0b4b4 inset,0 0 0 0 transparent;

  background: #fff6f6;

  color: #9f3a38;

  & > h3 {
    margin: 0;

    font-size: var(--font-size-m);
  }
}
