.image {
  margin: auto !important;
}

.name {
  margin-bottom: 0;
}

.sub_text {
  color: grey;
}

.button_wrapper {
  display: block;
}

.button {
  margin: auto !important;
  display: block;
  margin-top: 1em !important;
}

.page {
  text-align: center;
  max-width: 60em;
  margin: 8em auto auto;
}

@media only screen and (max-width: 768px) {
  .button {
    width: 100%;
  }

  div.ui.segment {
    background: transparent;
    border: none;
    box-shadow: none;
  }

  a {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .button {
    width: 170px !important;
  }
}
