.container {
    box-shadow: var(--shadow-level-1);
    border-radius: var(--radii-level-2);
    padding: var(--padding-level-5);

    background: var(--base-color);
}

@media only screen and (max-width: 768px) {
    .container {
        background: transparent;

        box-shadow: none;
    }
}
