.container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-level-3);

  box-sizing: border-box;

  width: 100%;
  padding: 0 var(--padding-level-5);
}

:global(#root) {
  .arrow_container {
    height: 120px;
    display: flex;
  }

  .arrow {
    margin: auto;
    color: #ffffff;
  }

  .end_message {
    line-height: 60px;
    text-align: center;
    color: #ffffff;
  }
}