/* We use the dropdown component from @sandercamp/ui-components which uses
https://szhsin.github.io/react-menu/ 

This CSS file is for overriding default styles:
https://szhsin.github.io/react-menu/style-guide#selectors */

.szh-menu__item {
  padding: 0.75rem;
}
