.root {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.kudo_amount {
  height: 28px;
  width: 23px;
  color: #081721;
  font-size: 22px;
  font-weight: 600;
  text-align: right
}

.kudo_symbol {
  height: 28px;
  color: #081721;
  font-size: 20px;
  font-weight: bolder;
}


.image_wrapper {
  margin-left: 12px;
  display: flex;
  flex-flow: wrap;
  flex: 1;
}

.timestamp {
  height: 13px;
  width: 48px;
  color: #081721;
  font-size: 11px;
}

.dropdown {
  color: grey;
}


:global(#root) {
  .avatar {
    height: 30px;
    width: 30px;
  }
}