:global(#root) {
  .like_message {
    font-size: 13px;
    margin-left: 10px;
    margin-bottom: 0;
  }

  .all_likes_container {
    position: absolute;
    z-index: 1;
    top: 130px;
    left: 110px;
    background: var(--kudo-color-secondary);
    padding: 10px;
    border-radius: 10px;
    color: #000000;
  }

  @media only screen and (max-width: 786px) {
    .all_likes_container {
      top: 150px;
    }
  }

  .container {
    width: 95%;
    display: flex;
    align-items: center;
  }


}