:global(#root) {
  .container {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    max-width: 400px;
  }

  .card {
    width: 100%;
    border-radius: 5px;
  }

  .card_description {
    margin-top: 5px;
  }
}