.transaction {
  margin-top: 10px;
  max-width: 400px;
  height: 150px;
}

.transaction_text {
  color: #081721;
  font-family: Calibri, sans-serif;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 17px;
}