<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>₭udos-o-Matic™</title>
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="viewport" content="height=device-height, width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui, viewport-fit=cover">
    <meta name="application-name" content="₭udos-o-Matic™">
    <meta name="apple-mobile-web-app-capable" content="false">
    <meta name="apple-mobile-web-app-title" content="₭udos-o-Matic™">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#212121">

<% if (htmlWebpackPlugin.options.useCordova) { %>
    <script src="cordova.js"></script>
<% } %>
    <script type="text/javascript">
      if(window.navigator.standalone) {
        document.querySelector('html').className = 'ios-standalone';
      }
    </script>

<% for (var css of htmlWebpackPlugin.files.css.filter((file) => file.indexOf("shell") != -1)) { %>
    <style>
        <%= compilation.assets[css.substr(htmlWebpackPlugin.files.publicPath.length)].source() %>
    </style>
<% } %>
  </head>
  <body id="maji-app">
<% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
    <script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
<% } %>
<% for (var css of htmlWebpackPlugin.files.css.filter((file) => file.indexOf("styles") != -1)) { %>
    <link href="<%= css %>" rel="stylesheet">
  <% } %>
  </body>
</html>
