.root {
    display: flex;
    flex-direction: column;
    padding-bottom: 4px;
    padding-top: 4px;
    text-align: initial;
    margin: auto;
    max-width: 420px;
}

.embed {
    margin-top: 1em;
}
